body {
  background-image: url("../images/palms-bg.jpg");
  font-family: 'Chilanka';
}

p {
  font-weight: 300;
  font-size: 16px;
}

.keno {
  color: red;
}

.my-nav {
  margin-bottom: 0;
  background: #78aa30;
  border: none;
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover {
  color: red;
  background-color: #000 !important;
}

ul.nav.navbar-nav li a {
  color: #fff;
  font-family: 'Caveat Brush';
  font-size: 22px;
}

ul.dropdown-menu {
  background: #008630;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  /*color: #555;*/
  color: red;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a:focus{
  color: #fff;
  background-color: transparent;
}


a#nav-play {
  font-size: 32px;
  color: #000;
  
}
a#nav-play:hover {
  color: red;
}

/* prepare the selectors to add a stroke to */
.stroke-single,
.stroke-double {
  position: relative;
  background: transparent;
  z-index: 0;
}
/* add a single stroke */
.stroke-single:before,
.stroke-double:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.2em #fff;
  z-index: -1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff;
  }

  li.dropdown.open {
    background: #008630;
}

}

.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a{
  background-color: #000;
}

.navbar-default .navbar-nav>.active>a{
  color: #fff;
  background-color: #008630;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #000;
}

img.logo {
  height: 24px;
}

.my-title h2 {
  margin-top: 30px;
  font-size: 48px;
}

.game-intro img {
  margin: 0 auto;
}

.my-title .stickos-logos {
  width: 210px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.my-title {
  margin-bottom: 7px;
}

/*Stickos Game RULES*/

/*My Game Section*/

.game-div {
  margin: 20px 0px;
  height: 70vh;
  background-image: url("../images/bg4-new-fonts.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (min-width:1px) and (max-width: 576px) {
  /*based on https://stackoverflow.com/questions/19592968/bootstrap-3-breakpoints-and-media-queries*/
  .game-div {
    background-image: url("../images/bg4-new-fonts-sm.jpg");
  }
}

.my-game .img-responsive {
  margin: 0 auto;
}

/*High Scores*/
thead {
  background: #008630;
  color: #fff;
}

tbody tr:hover {
  background: #ececec;
}

tr.topRecycler {
  font-weight: 700;
  font-size: 17px;
}
tr {
  font-weight: 300;
  font-size: 16px;
}

/*Tutorial & Titles*/
.stickos-site h1, .stickos-site h2, .stickos-site h3, .stickos-site h4 {
  font-family: 'Caveat Brush';
}

.tutorial-image {
  margin-bottom: 30px;
}

img.framed-pic {
  border-style: solid;
  border-width: 7px;
  border-radius: 7px;
}

.stickos-game h1, .stickos-game h2, .stickos-game h3 {
  font-family: 'Caveat Brush';
}

.stickos-game h1, .stickos-site h1 {
  font-size: 56px;
}

.stickos-game h2, .stickos-site h2 {
  font-size: 45px;
}

.stickos-game h3, .stickos-site h3 {
  font-size: 32px;
}

.stickos-game h4, .stickos-site h4 {
  font-size: 32px;
}

.stickos-game p, .stickos-site p {
  font-size: 18px;
  font-family: 'Chilanka';
}

p.sm-text-tutorial {
  height: 50px;
}

/*My Carousel*/

.my-carousel {
  padding-right: 0px;
  padding-left: 0px;
}

.carousel-caption h3 {
  display: block;
  margin-bottom: 40px;
}

.carousel-caption h1, .carousel-caption h3, .carousel-caption p {
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.carousel-caption a {
  font-size: 18px;
  color: #fff;
}

.my-sticker-row h2 {
  color: #fff;
}

/*Back to Top*/

#myBtnTop {
  display: none;
  /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  height: 50px;
  width: 50px;
  background-image: url("../images/top-arrow-sm.png");
  color: black;
  cursor: pointer;
  padding: 6px 3px;
  border-radius: 50px;
  font-size: 20px;
}

#myBtnTop:hover {
  background-color: #00a741;
  /* Add a dark-grey background on hover */
}

/*Pitch*/

.pitch strong {
  /*display: block;*/
}

/*Features */
.stickos-game ul li {
  font-weight: 300;
  font-size: 16px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/*My Goals*/

img#myflyer {
  box-shadow: 15px 15px 50px black;
  margin-bottom: 50px;
}

h2#greentalkheader {
  text-align: center;
}

h3#greentalktitle3 {
  color: #00c100;
  text-shadow: -1px 2px 2px #176c00;
}

.my-goals img, .my-why img, .my-how img, .tutorial-rule img, .my-scores img {
  margin: 5px auto;
}

.row.my-goals.text-center div {
  margin-bottom: 10px;
}

button {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-style: none;
  padding: 7px 30px;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

/*Model Stickers*/

.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */

.column {
  float: left;
  width: 20%;
  text-align: center;
}

.column .demo {
  width: 80%;
}

/*To help the PN Cahuita Modal*/

.modal-backdrop.fade.in {
  display: none;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */

.modal-content {
  position: relative;
  background-image: url("../images/sticker-wood.jpg");
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.mySlides img {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/* The Close Button */

.close {
  color: #ff2a21;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 70px;
  font-weight: bold;
  opacity: 0.9;
}

.close:hover, .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #000;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */

.caption-container {
  text-align: center;
  /*background-color: black;*/
  padding: 2px 16px;
  color: #fff;
  font-weight: bold;
  margin: 10px;
  font-size: 30px;
}

img.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Sticker Container*/

.my-stickers-container {
  background-image: url("../images/sticker-wood.jpg");
  padding: 30px 0 70px 0;
  margin-bottom: 30px;
}

.my-stickers-container p, .my-stickers-container h3 {
  color: #fff;
  display: none;
}

.my-stickers-container img {
  padding: 10px;
  margin: 0 auto;
}

.my-stickers-container img:hover, .my-stickers-container img:focus, .my-stickers-container img:active {
  padding: 0px;
}

/*Emoji Creator Section*/

.dichoForm p, .dichoForm strong {
  font-size: 16px;
}

.dichoForm {
  padding-bottom: 30px;
}

#emoji-instr {
  font-size: 16px;
  /*font-weight: bold;*/
  display: block;
  margin-bottom: 25px;
}

.jumbotron.my-jumbotron.text-center {
  margin-bottom: 20px;
}

.checkbox-inline, .radio-inline {
  margin-bottom: 10px;
}

#faceSections {
  padding: 20px;
}

.controls {
  background-color: #ececec !important;
}

.btn {
  margin-bottom: 15px !important;
}

.emojiFrame {
  min-width: 260px;
  max-width: 630px;
  margin: 0px auto 40px auto;
  position: relative;
  top: 0;
  left: 0;
}

.head {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.boca {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.eyes {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.dicho {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/*Before Bootstrap Center
  .eyes {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  */

input[type="radio"] {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.glyphicon {
  font-size: 20px;
  padding: 7px 30px !important;
}

.sticky-note {
  background: #faf97a;
  box-shadow: -5px 8px 7px #b0b1ae;
  height: 420px;
  width: 420px;
  display: block;
  margin: 0 auto;
}

.dichoForm {
  background: #87fa7a;
  box-shadow: -5px 8px 7px #b0b1ae;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

/*Shops Section*/

.my-shops-container h2 {
  margin-top: 0;
}

.my-shops-container h4 img {
  width: 50px;
  height: 50px;
}

.container.my-shops-container h4 {
  text-align: right;
}

.stores {
  padding: 20px 0;
}

/*Contact Section*/

.sticky-note p {
  padding: 20px 10px 10px 10px;
  /*font-weight: bold;*/
}

p#contact-text a {
  color: #000;
}

.sticky-note p span {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  display: block;
}

.sticky-note img {
  padding: 0px 40px 0px 40px;
}

.my-form {
  padding: 20px;
}

.my-contact-container {
  margin-bottom: 40px;
}

.myfield {
  background: #faf97a;
  border-style: none none solid none;
  border-bottom-width: 5px;
  border-bottom-color: #000;
  margin-bottom: 10px;
  border-radius: inherit;
}

.mybtn {
  background: #000;
  color: #fff;
  border: none;
  border-radius: initial;
  font-size: 18px;
  padding: 10px 50px;
}

.mybtn:hover {
  color: #fff;
  background-color: #545454;
  border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/*Game Section - Parallax 
https://www.youtube.com/watch?v=lbAijXD2gHk
http://www.developphp.com/video/CSS/Parallax-Effect-Animation-Multiple-Background-CSS-Tutorial 
*/

.my-game-title, .my-game-container {
  display: none;
}

div#mygame {
  width: 1000px;
  height: 500px;
  margin: 0px auto;
  background-color: #000;
  /*background-image: url("../images/game/planet1.png"), url("../images/game/star-rectangle.png"), url("../images/game/star-square.png");*/
  background-image: url("../images/game/sun1.png"), url("../images/game/clouds-lg.png"), url("../images/game/clouds-sm.png");
  background-position: 500px 0px, -1000px 0px, 1000px 0px;
  /*initial state it looks unnecesary or covered by the @keyframes below l:495*/
  background-repeat: no-repeat, repeat-x, repeat-x;
  animation: animate-background linear 10s infinite;
  margin-bottom: 50px;
}

/* Change these properties on Mobile, because it's displaying correctly */

@keyframes animate-background {
  from {
    background-position: +1000px 0px, 4000px 0px, 3000px 0px;
  }
  to {
    background-position: -1000px 0px, -0px 0px, -0px 0px;
  }
  /*Horizontal & Vertical*/
  /*
  pruebas con sol: 1000 x 500 pxs 
  0 0 ubica el objeto en la esquina superior derecha
  +1000 lo mueve a la derecha
  -1000 lo mueve a la izq
  */
}

#game-character {
  margin: 335px auto 45px auto;
  width: 365px;
}

/*Notes
  
  https://image.ibb.co/iEiha8/boca_1.png //dientes
  https://image.ibb.co/hBDha8/boca_2.png //muy feliz
  https://image.ibb.co/jGDha8/boca_3.png //muy triste
  https://image.ibb.co/juq62o/boca_4.png //normal
  
  https://image.ibb.co/gpQH8T/eyes_1.png //normal 0
  https://image.ibb.co/gqCav8/eyes_2.png //asustado 1
  https://image.ibb.co/czUzNo/eyes_3.png //cansado 2
  https://image.ibb.co/ivCav8/eyes_4.png //corazones 3
  https://image.ibb.co/mX1qTT/eyes_5.png //gafas 4
  https://image.ibb.co/hJEzNo/eyes_6.png //cerrados 5
  https://image.ibb.co/iWWP58/eyes_7.png //lado 6
  
  https://image.ibb.co/bH7KNo/head.png//normal
  https://image.ibb.co/jsjNso/head_2.png //lado
  
  */

/*
  How Everything Started
  https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html*/

/*Prefooter
  vvvvvvvvvvvvvvvvvvv*/

.row.myprefooter p {
  display: inline-block;
}

.row.myprefooter {
  background: #fafafa;
  /**/
  padding: 10px auto;
  border-top-style: solid;
  border-top-color: #cbcbcb;
}

.myprefooter img {
  margin: 10px auto;
  display: block;
}

footer a {
  color: #fff;
}

footer img {
  margin: 7px;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #009245;
  height: 70px;
  padding-top: 15px;
  font-weight: bold;
}

.tico img {
  float: right;
}

/*
  img#englishGringo.selected {
    background-image: url("../images/flag-usa-sm-on.png");
  }

  img#espanholTico.selected {
    background-image: url("../images/flag-tico-sm-on.png");
  }*/

.flags {
  margin-top: 20px;
}

/*Single Pages*/

.single-banner {
  padding: 0;
}

.single-banner img {
  width: 100%;
}

/* Media Query */

/*You can also use the (max-width: ..) and (min-width: ..) values to set a minimum width and a maximum width.
For example, when the browser's width is between 600 and 900px, change the appearance of a <div> element:*/

@media (min-width:1px) and (max-width: 991px) {
  img.nosobig {
    max-width: 250px;
  }
  .my-title h2 {
    margin-top: 40px;
  }
  .my-thumbnail-nav {
    display: none;
  }
  .open-modal-pics .column {
    width: 100%;
  }
  .row {
    margin: 0;
  }
  .stores img {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1px) and (max-width: 480px) {
  .my-stickers-container img {
    width: 100%;
    margin: 0 auto;
  }
  .sticky-note {
    width: 100%;
  }
  .controls {
    padding-top: 20px;
  }
  #myBtnTop {
    display: none;
  }
  .col-xs-12 .radio-inline {
    margin-left: 5px;
  }
  .carousel-inner, .container-slider {
    display: none;
  }
  .mobile-banner {
    padding: 0;
  }
  .mobile-banner img {
    width: 100%;
  }
  .jumbotron.my-jumbotron.text-center {
    padding: 25px 0px;
  }
  .no-padding {
    padding: 0px;
  }
}

/*
* The higeadea of this was to hide the mobile slider, since it might be to heave, todo : Decrease size of the slider images.*/
  @media screen and (min-width: 481px) {
    .stickos-site .mobile-banner {
      display: none;
    }
    
  }

@media screen and (min-width: 481px) and (max-width: 991px) {
  .my-stickers-container img {
    max-width: 220px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .controls {
    padding-top: 10px;
  }
  #myBtnTop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  img.game-rules-img {
    padding: 20px;
  }
}



/* Magnifying Glass Classes */
.imageWidget {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.imageWidget img {
  width: 100%;
}


html.magnifying > body {
  overflow-x: hidden !important;
}
.magnify {
  position: relative;
  display: inline-block;
}
.magnify .magnify-lens {
  /* Create the magnifying lens */
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  /* Multiple box shadows to achieve the glass lens effect */
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  /* Hide the mouse pointer */
  cursor: none;
  /* Hide the lens by default */
  display: none;
  /* Place the lens on top of other elements */
  z-index: 100;
}
.magnify .magnify-lens.loading {
  background: #333 !important;
  opacity: 0.75;
}
.magnify .magnify-lens.loading:after {
  /* Loading text */
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #fff;
  content: 'Loading...';
  font: italic normal 16px/1 Calibri, sans-serif;
  text-align: center;
  text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
  text-transform: none;
}


/*by @Keno10cr .:*/